{% extends "base.html" %}
{% load staticfiles %}
{% block title %} Acerca de {% endblock %}
{% block content %}
<h1><span class="label label-warning">Acerca de</span></h1></br></br>
    <div class="col-md-12">
  			<div class="jumbotron" style="text-align:justify;">
          <div class="row">
          <div class="col-md-8">
            <h2><font color="#2F5BB2">GeoFarmCL</font></h2>
            <p>Aplicación web que mostrará al usuario la ubicación del establecimiento farmacéutico que necesite, además este podrá hacer un filtro de éste, para tener una vista personalizada.</p>

            <h3><font color="#2F5BB2">Plataformas</font></h3>
            <p>Smartphones, Notebooks, Tables, y cualquier dispositivo.</p>
            <h3><font color="#2F5BB2">Navegadores compatibles</font></h3>
            <p>Google Chrome, Mozilla Firefox, Safari, Opera.</p>

          </div>
          <div class="col-md-4">
            <img src="{% static 'img/logo.png' %}" class="img-responsive" alt="GeoFarmCL" width="304" height="236">
          </div>
        </div>
            <h3><font color="#2F5BB2">¿A quién va dirigida?</font></h3>

            <p>Población de Chile.</p>
            <h3><font color="#2F5BB2">Funcionamiento</font></h3>
            <p>
              El usuario, por medio de la aplicación, podrá buscar en un mapa locales farmacéuticos de su preferencia de acuerdo a su obicación actual.
              El usuario podra personalizar la visualización de la vista de la aplicación de forma que adopte sus mejores preferencias, ejemplo de ello,
              el usuario requiere una farmacia naturista (Farmacias KNOP), la aplicación le entregará la ubicación de todas las farmacias de este
              tipo que esten cercanas a él.
              La aplicación aparte de entregar la farmacias más cercanas al usuario , entregará ofertas de precios de sus productos de farmacias asociadas a la aplicación.
            </p>
            <h3><font color="#2F5BB2">Objetivos</font></h3>

            <p>-Ofrecer una información actual y amplia referida a establecimiento farmaceuticos de la zona.</p>
            <p>-Divulgar informacion de relevancia para la poblacion en general.</p>
            <p>-Reducir los tiempos de búsquedas de su farmacia preferida.</p>
            <p>-Optimizar los tiempos de buscar ofertas para reducir sus costos.</p>

            <h3><font color="#2F5BB2">¿Cómo sacar partido a la aplicación?</font></h3>

            <p>Una vez que vamos a un centro de salud, y tenemos una receta médica. Lo primero que se viene a la mente al usuario, es dónde se encuentra la farmacia más cercana. Esta aplicación, con su ubicacion, horario de atención, númmero de contacto y ofertas de los precios más convenientes, podrá poveer al usuario información necesaria de los locales farmacéuticos que necesite.</p>

            <h3><font color="#2F5BB2">Fuentes de los datos</font></h3></br><p><a href="http://farmanet.minsal.cl/index.php/ws/getLocales" target="_blank">http://farmanet.minsal.cl/index.php/ws/getLocales</a> Datos en formato JSON del sitio web <a href="http://datos.gob.cl" target="_blank">http://datos.gob.cl</p>
        </div></a>
  	</div>
{% endblock %}
