{% extends "base.html" %}
{% block title %} Autores {% endblock %}
{% block content %}
	<h1><span class="label label-warning">Autores</span></h1></br></br>
	<div class="col-sm-6">
			<div class="jumbotron" style="text-align:justify;">
				<div class="row">
					<div class="col-sm-8">
								<h3><font color="#2F5BB2">Carlo Alberto Echeverría Fuentes</font></h3></br>
								<p style="text-align:center;">24 años</p>
					</div>
					<div class="col-sm-4">
					</br>
            <img src="https://scontent.fscl7-1.fna.fbcdn.net/v/t1.0-9/12718110_997993140278234_7935182587470445958_n.jpg?oh=796929dbd7b8bb2dc1315ef4893b36c1&oe=5879F63E" class="img-responsive img-circle" height="236">
          </div>
				</div></br>
				<p>Estudiante de Ingeniería Informática c/m de la Universidad de Playa Ancha</p>
				<h3><font color="#2F5BB2">Años de estudio</font></h3>
				<p>5 años</p>
				<h3><font color="#2F5BB2">Trabajos anteriores</font></h3>
				<p>Portal Universitario de Noticias</p>
				<p>Sistema de asignación inteligente de Salas</p>
				<p>Empleo en empresa de logística encargado de la optimización de sistema ERP y Base de Datos</p>
				<h3><font color="#2F5BB2">Roles en el Proyecto</font></h3>
				<p>Implementación del sistema de geolocalización con la API de Google Maps. Como también el sistema de marcado de rutas de los locales farmacéuticos ubicados a lo largo del país.</p>
				<p>Filtros de la aplicación para obetener una vista personalizada de los locales farmacéuticos que se requieren, ya sea por ubicación o medicamentos en ofertas.</p>
				<p>Diseño del Sitio web.</p>
			</div>

	</div>
	<div class="col-sm-6">
			<div class="jumbotron" style="text-align:justify;">
				<div class="row">
					<div class="col-sm-8">
								<h3><font color="#2F5BB2">Luis Alberto Montenegro</font></h3></br></br>
								<p style="text-align:center;">25 años</p>

					</div>
					<div class="col-sm-4">
					</br>
            <img src="https://scontent.fscl7-1.fna.fbcdn.net/v/t1.0-9/13776031_1388530854496457_221898190865466426_n.jpg?oh=ccbedb8dd13bccc2eba70216754caf85&oe=5883C9E7" class="img-responsive img-circle" height="236">
          </div>
				</div></br>
				<p>Estudiante de Ingeniería Informática c/m de la Universidad de Playa Ancha</p>
				<h3><font color="#2F5BB2">Años de estudio</font></h3>
				<p>6 años</p>
				<h3><font color="#2F5BB2">Trabajos anteriores</font></h3>
				<p>Creación de Portal para turista en la Ciudad de Valparaíso.</p>
				<p>Creación de Sistema de asignación inteligente de Salas.</p>
				<p>Empleo en Carabineros De Chile, como subteniente jefe del departamento de soporte informático de la V zona de Carabineros con asiento en la Ciudad de Valparaíso.</p>
				<h3><font color="#2F5BB2">Roles en el Proyecto</font></h3>
				<p>Implementación de base de datos, con la información de los centros farmacéuticos a lo largo de todo el país.<p/>
				<p>Encargado de marketing del proyecto, para su difusión.</p>
				<p>Idea principal del proyecto.</p>
			</div>

	</div>

{% endblock %}
