{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">

    <title >GeoFarmCL | {% block title %} {% endblock %}</title>
		<link rel="shortcut icon" href="{% static 'img/logo.png' %}">

    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href=" {% static 'bootstrap/css/bootstrap-theme.min.css' %}" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->

		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body style="background-image: url({% static 'img/manage.jpg' %});">
	 <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="{% url "index" %}">Inicio</a></li>
						<li role="presentation"><a href="{% url "acercade" %}">Acerca de</a></li>
            <li role="presentation"><a href="{% url "farmacias" %}">Farmacias</a></li>
            <li role="presentation"><a href="{% url "autores" %}">Autores</a></li>
						<li role="presentation"><a href="{% url "conclusiones" %}">Conclusiones</a></li>
          </ul>
        </nav></br></br>
        <h1>
					<!--<img src="static/img/logo.png" class="img-responsive" alt="GeoFarmCL" width="304" height="236">-->
        	<span class="label label-warning">
        		<a href="{% url "index" %}" style="color:white;">
					GeoFarmCL
				</a>
        	</span>
        </h1>
      </div>

      <div class="jumbotron">
        <h1><font color="#2F5BB2">Proyecto Django Taller Integrado</font></h1>
        <p class="lead">
					GeoFarmCL es una aplicación que ubica las farmacias más cercanas del usuario mediante geolocalización permitiéndole escoger aquellas de su preferencia. Su objetivo principal es optimizar el tiempo de búsqueda y llegada.
				</p>
        <div class="row marketing">
	        <div class="col-lg-4">

	    	</div>
	    	<div class="col-lg-7">
						{% block google_maps %} {% endblock %}
	    	</div>
	    	<div class="col-lg-1">

	    	</div>
    	</div>
      </div>
</br>
      <div class="row marketing" style="text-align:center">
				{% block content %} {% endblock %}
      </div></br></br></br>

      <div class="panel panel-default">
	  	<div class="panel-footer"><p id="footer_upla">Proyecto Django Taller Integrado - GeoFarmCL - Ingeniería Informática c/m - <a href="http://www.upla.cl" target="_blank">Universidad de Playa Ancha</a> - Septiembre 2016</p></div>
	  </div>


    </div>
	<script src="{% static 'jquery/jquery-3.1.0.min.js' %}"></script>
	<!--<script src="{% static 'js/script.js' %}"></script>-->
	<!--<script src="{% static 'js/table_page.js' %}"></script>-->

</body>
</html>
