{% extends "maps.html" %}
{% block marker %} {% endblock %}
{% block resultados %}
      var directionsDisplay = new google.maps.DirectionsRenderer;
      var directionsService = new google.maps.DirectionsService;
      directionsDisplay.setMap(map);

      calculateAndDisplayRoute(directionsService, directionsDisplay,lat,lng);
      document.getElementById('mode').addEventListener('change', function() {
        calculateAndDisplayRoute(directionsService, directionsDisplay);
      });

      function calculateAndDisplayRoute(directionsService, directionsDisplay,lat1,lng1) {
        var selectedMode = document.getElementById('mode').value;
        directionsService.route({
          origin: {lat: lat1, lng: lng1},
          destination: {{ query }},
          travelMode: google.maps.TravelMode[selectedMode]
        }, function(response, status) {
          if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
{% endblock %}
