.capas {
	border: 10px solid #000;
	display: inline-block;
	height: 500px;
	vertical-align: top;
	width: 90%;
}

body {
	background-image: url("static/images/manage.jpg");
}

.lead {
	text-align: justify;
}

#footer_upla {
	text-align: center;
}

#tabla_farmacias td {
	font-size: 10px;
}

.table-responsive {
	height:250px;
}

tbody {
    display:block;
    height:250px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
}
